/* add all styles here */

a{
  text-decoration: none;
}

// manage container width :
.container {
  max-width : 100%;
  margin : 0 auto;
}

/* MENU */
.menu{
  ul{
    li{
      display: block;
      float: left;
      list-style-type: none;
    }
  }

  :after{
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

/* keep this */
a.debugButton{
  background-image: url("../img/gridIcon.png");
  width: 26px;
  height: 20px;
  display: block;
  z-index: 9999;
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: .6;

  &:hover{
    opacity: 1;
  }
}