////////////////////////////////////////////////////////////////////////////////
// GLOBAL CONFIG
////////////////////////////////////////////////////////////////////////////////

/* the grid system, see http://gridle.org/documentation */

$gridle-columns-count : 12;
$gridle-gutter-width : 5px;

@include gridle_register_default_states();
@include gridle_generate_classes();

$gridle-debug: true;
