/* DEBUG GRID OVERLAY */
@import "normalize";
@import "gridle/gridle";
@import "config";

//build the grid
/*
$i: 0;
$grid-content: "";
@while $i < $gridle-columns-count {
  $grid-content: $grid-content + "<div class='grid-1' id='debug-grid-"+$i+'>&nbsp;</div>';
  $i: $i + 1;
}
*/

body{
  background-color: #222;
  overflow: hidden;
  background-image: url(../img/debuggerBG.png);
  font-family: monospace;
}

.header{
  background: black;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 30px;
  display: block;
  z-index: 999;
  font-size: 12px;
  line-height: 30px;
  color: #555;
  padding-left: 0px;
  box-shadow: rgb(34, 34, 34) 0px 0px 3px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-width: 1024px;

  div{
    float: left;
  }

  .sizeSelect, .gridSelect{
    padding-left: 10px;
    cursor: pointer;
  }

  .active{
    color: #999;
  }

  .close{
    margin-right: 15px;
    float: right
  }

  .grid{
    margin-left: 10px;
  }
}

#debug-grid-data{
  content: ""+$gridle-columns-count;
  display: none;
}

#iframe{
  height: 100%;
  width: 100%;
  border:none;
}

.wrapper{
  display:block;
  width:320px;
  height:100%;
  margin:0 auto;
  border:none;
  background-color:white;
}
.cover {
  width:100%;
  height:100%;
  display:none;
  position:absolute;
  top:0;left:0;
  z-index:20;
  cursor:col-resize;
  background-color:rgba(0,0,0,0.05);
}

.handle {
  display:block;
  position:absolute;
  width:70px;height:30px;
  top:50px;left:320px;
  background:black;
  text-decoration:none;
  color:white;
  text-align:center;
  font-size: 12px;
  line-height:30px;
  cursor:col-resize;
  white-space:nowrap;
}

.markers {
  position:absolute;
  width:50%;height:100%;
  top:0;left:50%;
}

.mark {
  height:100%;
  border-left:1px solid rgba(255,255,255,0.2);
  color:rgba(255,255,255,0.4);
  position:absolute;
  top:0;left:0;
  font-size:12px;
  padding:0.25em;
  padding-top: 40px;
}